.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 6vw;
  align-items: center;
  gap: 10vw;
}

.h1 {
  color: var(--secondary-color-light-pink);
  font-family: var(--title-font-font-family);
  font-size: var(--header2-display-font-size);
  font-weight: var(--light-font-weight);
}

.p {
  width: 40vw;
  flex-shrink: 0;
  font-family: var(--text-font-family);
  font-size: var(--body-text-font-size);
  line-height: 250%;
}

.heroLogo {
  width: 50vw;
  height: auto;
  display: block;
  max-width: none;
}

.tekst {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
