:root {
  /* Colors light */
  --primary-color-light: #ffffff;
  --secondary-color-light-turqouise: #38A495;
  --seconndary-color-light-pink: #E66A9D;
  --accent-color-light-yellow: #FFD678;
  --text-color-light: #151515;

  /* Colors dark */
  --primary-color-dark: #5D2F54;
  --secondary-color-dark-turqouise: #65BDAB;
  --secondary-color-dark-pink: #D3628A;
  --accent-color-dark-yellow: #E9DB89;
  --text-color-dark: #E4E4E4;

  /* Fonts */
  --title-font-font-family: 'Sue Ellen Francisco', cursive;
  --text-font-family: 'work-sans', sans-serif;

  /* Font sizes */
  --title-font-size: 6rem;
  --under-titles-font-size: 3rem;
  --text-font-size: 1.6rem;
  --menu-and-options-font-size: 2.4rem;
  --button-and-price-font-size: 4.2rem;
  --moms-font-size: 1.2rem;

  /* Font thickness */
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --medium-font-weight: 500;
  --light-font-weight: 300;
  --semi-bodl-font-weight: 600;
}

/* rem 10px=1rem */
html {
  font-size: 62.5%;
}