* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors light */
  --secondary-color-light-turqouise: #38a495;

  /* Fonts */
  --title-font-font-family: "Sue Ellen Francisco", cursive;
  --text-font-family: "work-sans", sans-serif;

  /* Font sizes */
  --mobile-header1-display-font-size: 3.2rem;
  --body-text-font-size: 1.6rem;
  --moms-font-size: 1.2rem;

  /* Font thickness */
  --normal-font-weight: 400;
}

/* rem 10px=1rem */
html {
  font-size: 62.5%;
}

/*footer*/
.footer {
  background-color: var(--secondary-color-light-turqouise);
  width: 100%;
  height: auto;
  padding: 1.8rem;
  margin-top: 1rem;
}

.footerIndhold {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 2fr));
  width: 100%;
  gap: 2rem;
  font-family: var(--text-font-family);
  font-size: var(--body-text-font-size);
  color: #ffffff;
  line-height: 3rem;
  justify-items: center;
}

.h2 {
  color: #ffffff;
  font-family: var(--title-font-font-family);
  font-size: var(--mobile-header1-display-font-size);
  font-weight: var(--normal-font-weight);
  margin-bottom: 1rem;
}

/* følg os sektion */
.follow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.ikoner {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.copyright {
  width: 100%;
  text-align: center;
  margin-top: 1.2rem;
  color: #ffffff;
  font-family: var(--text-font-family);
  font-size: var(--moms-font-size);
}
