* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors light */
  --primary-color-light: #ffffff;
  --secondary-color-light-pink: #e66a9d;
  --text-color-light: #151515;

  /* Colors dark */
  --primary-color-dark: #5d2f54;
  --secondary-color-dark-pink: #d3628a;

  /* Fonts */
  --text-font-family: "work-sans", sans-serif;
}
/* rem 10px=1rem */
html {
  font-size: 62.5%;
}

/* Navigations bar */
nav {
  background-color: var(--primary-color-light);
  box-shadow: 0 0.4rem 0.4rem 0 #e66a9d;
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center; /* elementerne centreres*/
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 2vw 0 1vw;
}

nav a {
  /*farven og styling af links/ overskrifterne i navbar*/
  color: var(--text-color-light);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  transition: background-color 0.3s ease;
  font-size: 2rem;
  font-family: var(--text-font-family);
}

/* når man hover på links i navbaren, vil teksten skifte farve,
 og den lyserøde baggrund bliver på indtil man skfiter side igen, så man kan se active state*/
.pages a:hover,
.pages a:focus {
  background-color: var(--secondary-color-light-pink);
  color: #ffffff;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0 4rem;
  flex-wrap: wrap;
}

.ikoner {
  display: flex;
  width: 24rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  flex-shrink: 0;
}

.darkmodeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 20rem;
  align-items: center;
  padding-top: 1rem;
}

:global(.dark-mode) {
  .darkmodeButton img {
    content: url(../assets/lightDark.svg);
  }
  .pages a:hover,
  .pages a:focus {
    background-color: var(--secondary-color-dark-pink);
  }

  .searchIkon {
    content: url(../assets/searchDark.svg);
  }

  .hjerteIkon {
    content: url(../assets/likePageDark.svg);
  }

  .profilIkon {
    content: url(../assets/profileDark.svg);
  }

  .shoppingBag {
    content: url(../assets/basketDark.svg);
  }

  .logo {
    content: url(../assets/logoNavDark.svg);
  }
}
