.productManagement {
  display: flex;
  padding: 8px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.filterButton {
  display: flex;
  padding: 4px 12px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  border-radius: 39px;
  background: var(--primary, #fff);
  box-shadow: 0 4px 4px 0 rgba(230, 106, 157, 0.25);
  border: none;
  font-family: var(--text-font-family);
  font-size: var(--body-text-font-size);
}

.filterIcon {
  height: 1.6rem;
  justify-items: center;
}

.sortButton {
  width: 24.2rem;
  display: flex;
  padding: 0.4rem 1.2rem;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
  border-radius: 39px;
  background: var(--primary, #fff);
  box-shadow: 0 4px 4px 0 rgba(230, 106, 157, 0.25);
  border: none;
  font-family: var(--text-font-family);
  font-size: var(--body-text-font-size);
}
