* {
  text-decoration: none;
}
.card {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: var(--primary-color-light);
  position: relative;
}

.imageArea {
  height: 540px;
  width: 100%;
  align-self: stretch;
  overflow: hidden;
}

.imageArea img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favoriteIcon {
  width: 41px;
  height: 40px;
  position: absolute;
  right: 24px;
  top: 24px;
  background: none;
  border: none;
}

.brandName {
  color: #000;

  /* desktop-card-brand */
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 3.6px;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}

.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #ecf0f1;
  padding: 1rem 0;
}

.title {
  color: #000;

  /* desktop-card-title */
  font-family: "Work Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
}

.price {
  color: #000;

  /* desktop-card-price */
  font-family: "Work Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.92px;
}

.hoverInfo {
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  visibility: hidden;
  transition: opacity 0.3s ease;
  display: flex;
}

.card:hover .hoverInfo {
  visibility: visible;
  opacity: 1;
}

.colorCircle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #e2e2e2; /* Denne linje gør hvid synlig */
}
