:root {
  /* Colors light */
  --secondary-color-light-turqouise: #38a495;
  --text-color-light: #151515;

  /* Colors dark */
  --primary-color-dark: #5d2f54;
  --secondary-color-dark-turqouise: #65bdab;
  --text-color-dark: #e4e4e4;

  /* Fonts */
  --title-font-font-family: "Sue Ellen Francisco", cursive;
  --text-font-family: "work-sans", sans-serif;

  /* Font size */
  --body-text-font-size: 1.6rem; /*bruges*/
}


/* Gør baggrunden bagved mørkere når popup er åben */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transform: scale(0.8);
  opacity: 0;
  animation: popupIn 0.3s forwards;
}


/* Selve popupen informationerne sættes ind på */
.popup {
  background: white;
  padding: 2rem 3rem;
  border-radius: 1.2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  max-width: 70rem;
  text-align: center;
}

/* En animation når popup skal åbnes for at få bruger til nemmere at justere efter det */
@keyframes popupIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Gør at title og closeBtn er på samme linje og har en underlinje */
.titleAndClose {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 0.2rem var(--secondary-color-light-turqouise);
  line-height: 10rem;
}

/* Styler titlen */
.title {
  font-family: var(--title-font-font-family);
  font-size: 4.5rem;
  color: var(--text-color-light);
  letter-spacing: 0.3rem;
}

/* Styler closeBtn */
.closeBtn {
  border: none;
  background: none;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
}

/* Styler closeBtn hover */
.closeBtn img:hover {
  content: url(../assets/closebtnHover.svg);
}

/* Styler alt teksten på popup */
.text {
  font-family: var(--text-font-family);
  font-size: var(--body-text-font-size);
  text-align: left;
  line-height: 2.5rem;
  margin-top: 1rem;
}

/* Global selector der gør at alle de selectors der sættes under den ældres når .dark-mode aktiveres. Der ændres kun i de properties der skal ændres når darkmode er sat til */
:global(.dark-mode) {
  .popup {
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark);
  }

  .titleAndClose {
    border-bottom: 0.2rem solid var(--secondary-color-dark-turqouise);
  }

  .title {
    color: var(--text-color-dark);
  }

  .closeBtn img {
    content: url("../assets/closePopupDark.svg");
  }

  .closeBtn img:hover {
    content: url("../assets/closePopupDarkHover.svg");
  }
}
