:root {
  /* Colors light */
  --primary-color-light: #ffffff;
  --secondary-color-light-turqouise: #38a495;
  --text-color-light: #151515;

  /* Colors dark */
  --primary-color-dark: #5d2f54;
  --secondary-color-dark-turqouise: #65bdab;
  --text-color-dark: #e4e4e4;

  /* Fonts */
  --title-font-font-family: "Sue Ellen Francisco", cursive;
  --text-font-family: "work-sans", sans-serif;

  /* Font sizes */
  --body-text-big-font-size: 2.4rem;
  --body-text-font-size: 1.6rem;

  /* Font thickness */
  --normal-font-weight: 400;
}

/* Gør baggrunden bagved mørkere når popup er åben */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transform: scale(0.8);
  opacity: 0;
  animation: popupIn 0.3s forwards;
}

/* Selve popupen informationerne sættes ind på */
.popup {
  background: white;
  padding: 2rem 3rem;
  border-radius: 1.2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Styler hele layoutet */
.order {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* En animation når popup skal åbnes for at få bruger til nemmere at justere efter det */
@keyframes popupIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Gør at title og closeBtn er på samme linje og har en underlinje */
.titleAndClose {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 0.2rem var(--secondary-color-light-turqouise);
  line-height: 10rem;
}

/* Styler titlen */
.title {
  font-family: var(--title-font-font-family);
  font-size: 4.5rem;
  color: var(--text-color-light);
  letter-spacing: 0.3rem;
}

/* Styler closeBtn */
.closeBtn {
  border: none;
  background: none;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
}

/* Styler closeBtn hover */
.closeBtn img:hover {
  content: url(../assets/closebtnHover.svg);
}

/* Styler alt teksten på popup */
.text {
  font-family: var(--text-font-family);
  font-size: var(--body-text-font-size);
  text-align: left;
  line-height: 2.5rem;
  margin-top: 1rem;
}

/* Styler cirklen der viser farverne */
.colorCircle {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 0.1rem solid #e2e2e2; /* Denne linje gør hvid synlig */
}

/* Styler de cirkler der bruges til side valg */
.circleToggle {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.label {
  margin-bottom: 0.4rem;
  font-family: var(--text-font-family);
  font-size: var(--body-text-font-size);
}

.circle {
  width: 4rem;
  height: 4rem;
  border: 0.3rem solid var(--text-color-light);
  border-radius: 50%;
  background-color: white;
  transition:
    background-color 0.2s,
    border-color 0.2s;
  padding: 0.2rem;
}

.circle.selected {
  content: url(../assets/flower-pink.svg);
  border-color: black;
}

/* Styler købs knappen */
.buyButton {
  display: flex;
  width: 100%;
  border: none;
  padding: 1.2rem 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  stroke: none;
  background: var(--secondary-color-light-turqouise);
  color: var(--primary-color-light);
  font-family: var(--text-font-family);
  font-size: var(--body-text-big-font-size);
  font-weight: var(--normal-font-weight);
  transition: all 0.3s ease;
}

.buyButton:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
}

/* Styler toast notifikation */
.toastContainer {
  display: flex;
  background: transparent !important;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
  padding: 0 !important;
  border: none !important;
}

/* Styler farvevalget så cirklen sidder med titlen */
.colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* Styler alle kategori titler */
.underTitle {
  font-family: var(--text-font-family);
  font-size: var(--body-text-font-size);
  text-align: left;
}

/* Styler  størrelses valget så titel og dropdown sidder sammen*/
.size {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Styler sid valget så den sidder sammen med titlen */
.sides {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Styler undertitlen for popup */
.orderTitle {
  font-family: var(--text-font-family);
  font-size: var(--body-text-big-font-size);
  color: var(--text-color-light);
  border-bottom: solid 0.2rem var(--secondary-color-light-turqouise);
  line-height: 5rem;
}

/* Global selector der gør at alle de selectors der sættes under den ældres når .dark-mode aktiveres. Der ændres kun i de properties der skal ændres når darkmode er sat til */
:global(.dark-mode) {
  .popup {
    background-color: var(--primary-color-dark);
  }

  .orderTitle {
    color: var(--text-color-dark);
    border-bottom: solid 0.2rem var(--secondary-color-dark-turqouise);
  }

  .label {
    color: var(--text-color-dark);
  }

  .title {
    color: var(--text-color-dark);
  }

  .closeBtn img {
    content: url(../assets/closePopupDark.svg);
  }

  .closeBtn img:hover {
    content: url(../assets/closePopupDarkHover.svg);
  }

  .titleAndClose {
    border-bottom: solid 0.2rem var(--secondary-color-dark-turqouise);
  }

  .circle {
    border-color: #3b1c35;
    background-color: var(--text-color-dark);
  }

  .buyButton {
    background-color: var(--secondary-color-dark-turqouise);
    color: var(--text-color-dark);
  }

  .colorCircle {
    border-color: var(--primary-color-dark);
  }
}
