.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vw;
}

.h1 {
  font-family: var(--title-font-font-family);
  font-size: var(--display-title-font-size);
  color: var(--text-color-light);
  font-weight: var(--light-font-weight);
}

.p {
  font-family: var(--text-font-family);
  font-size: var(--body-text-big-font-size);
  line-height: 200%;
}

.uterus {
  width: 50vw;
  height: auto;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}
