* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors dark */
  --primary-color-dark: #5d2f54;
  --secondary-color-dark-pink: #d3628a;
  --text-color-dark: #e4e4e4;
}

/* rem 10px=1rem */
html {
  font-size: 62.5%;
}

html.dark-mode {
  body {
    background-color: var(--primary-color-dark);
  }

  nav {
    background-color: var(--primary-color-dark);
    box-shadow: 0 0.4rem 0.4rem 0 var(--secondary-color-dark-pink);
  }

  nav a {
    color: var(--text-color-dark);
  }

  footer {
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark);
    box-shadow: 0 -0.4rem 0.4rem 0 var(--secondary-color-dark-pink);
  }

  p {
    color: var(--text-color-dark);
  }
}
