:root {
  /* Colors light */
  --primary-color-light: #ffffff;
  --secondary-color-light-turqouise: #38a495;
  --seconndary-color-light-pink: #e66a9d;
  --accent-color-light-yellow: #ffd678;
  --text-color-light: #151515;

  /* Colors dark */
  --primary-color-dark: #5d2f54;
  --secondary-color-dark-turqouise: #65bdab;
  --secondary-color-dark-pink: #d3628a;
  --accent-color-dark-yellow: #e9db89;
  --text-color-dark: #e4e4e4;

  /* Fonts */
  --title-font-font-family: "Sue Ellen Francisco", cursive;
  --text-font-family: "work-sans", sans-serif;

  /* Font sizes */
  --title-font-size: 6rem;
  --under-titles-font-size: 3rem;
  --text-font-size: 1.6rem;
  --menu-and-options-font-size: 2.4rem;
  --button-and-price-font-size: 4.2rem;
  --body-text-big-font-size: 2.4rem;
  --body-text-font-size: 1.6rem;
  --moms-font-size: 1.2rem;

  /* Font thickness */
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --medium-font-weight: 500;
  --light-font-weight: 300;
  --semi-bold-font-weight: 600;
}

/* rem 10px=1rem */
html {
  font-size: 62.5%;
}

:root {
  --service-text-width: 40vw;
  --service-image-width: 50vw;
  --service-image-height: 60vh;
}

.heroSection {
  position: relative;
  left: 50vw;
  right: 50vw;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  overflow: hidden; /* ligesom at bruge clip content i. figma */
}

.heroBg {
  display: block;
  width: 100%;
  max-width: none; /* gør at den ikke bliver max width ligesom heroSection */
  height: auto;
}

.heroLogo {
  position: absolute;
  top: 6vw;
  right: 8vw;
  width: 30vw;
  height: auto;
  z-index: 2;
}

/* Divideren der er efter hero section lige inden productgrid */
.heroDivider {
  position: absolute;
  left: 0; /* alting sat til 0 for at den går fra kant til kant */
  right: 0;
  bottom: 0;
  height: 4vh;
  background: var(--seconndary-color-light-pink);
  z-index: 3;
}

.singleItemServiceTitle {
  font-family: var(--title-font-font-family, "Sue Ellen Francisco"), cursive;
  color: var(--seconndary-color-light-pink);
  font-size: 4vw;
  font-weight: var(--light-font-weight);
}

.singleItemServiceText {
  font-family: "Work Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: var(--light-font-weight);
  line-height: 180%;
}

.singleItemService {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding-left: 4rem;
  padding-right: 0rem;
  padding-bottom: 8rem;
}

.serviceText {
  width: var(--service-text-width);
  flex: 0 0 var(--service-text-width);
  display: flex;
  gap: 2vh;
  flex-direction: column;
  justify-content: flex-start;
}

.etBen {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.socialProof {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(388px, 1fr));
  gap: 2rem;
  margin-left: 0;
  width: 100%;
  padding: 10vh 0 12vh 0;
}

.socialProofCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 0 7vw;
  border-right: var(--seconndary-color-light-pink) 10px solid;
  justify-content: space-between;
  height: auto;
  gap: 1.5rem;
}

/*gør at det sidste af cardsne ikke har border*/
.socialProofCard:last-child {
  border-right: none;
}

.rating {
  display: flex;
  width: 80%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
}

.udtalelese {
  font-family: var(--text-font-family, "work-sans"), sans-serif;
  font-size: var(--text-font-size);
  width: 100%;
  line-height: 180%;
}

.navn {
  font-family: var(--text-font-family, "work-sans"), sans-serif;
  display: flex;
  justify-content: flex-end;
  font-size: 1.8rem;
  margin: 0;
  width: 100%;
}

.productShowcase {
  padding: 10vh 0 16vh 0;
  width: 100%;
}

.productShowcaseGrid {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /*laver tre kolonner hvor der kan være cards og 1fr definerer hvor meget plads hver card skal bruge så 1fr, så bruger de lige meget*/
  gap: 8vw;
  width: 100%;
  height: auto;
}
